@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font-titulo: "Passion One", sans-serif;
    --font-texto: "Sriracha", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 2rem;

    & h1, h2{
        font-family: var(--font-titulo);
        font-weight: 700;
        text-align: center;
    }

    & h1{
        font-size: 4em;
        margin-bottom: 1rem;
    }

    & h2{
        font-size: 1.2em;
        font-weight: 400;

        & a{
            font-size: 1.4em;
            color: white;
            text-decoration: none;
        }

        & a:hover{
            text-decoration: underline;
        }
    }
}

p{
    font-family: var(--font-texto);
    font-size: 1.3em;
    text-align: left;
    width: 50%;
    padding: 0.5rem 0.3rem;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

.normal{
    padding: 2rem;
}

.imagem{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;

    & p{
        background-color: rgba(0, 0, 0, 0.267);
        color: white;
    }
}

#imagem1{
    background: black url(imagens/background001.jpg) no-repeat center center fixed;
}

#imagem2{
    background: black url(imagens/background002.jpg) no-repeat center center fixed;
}