@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

main{
    background: #ddd url("imagens/fundo-madeira.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#telefone{
    background: url("imagens/frame-iphone.png") top center no-repeat;
    background-size: cover;
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}

#redes-sociais{
    text-align: right;
}

img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    width: 50px;
    border-radius: 50%;
    margin: 1rem;
}

img:hover{
    border: 2px solid lightsteelblue;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
    transition: transform .5s, border .3s;
}